body {
    margin: 0 auto;
}

canvas {
    margin: 0 auto;
    border: thin solid black;
    text-align: center;
}

span {
    display: block;
    margin: 30px auto;
    width: 300px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
}